$background: var(--background);
$backgroundOverlay: var(--backgroundOverlay);
$score: var(--score);
$text: var(--text);
$scissors: #EBA215;
$spock: #42B6CF;
$paper: #4D6AF4;
$lizzard: #8958E5;
$rock: #DD3858;