@use "colors" as *;
@use "vars" as *;

.mws {
    width: 100%;
    max-width: 700px;
}

:root {
    @media (max-width:800px) {
        --handleSize: 124px;
    }

    @media (max-width:540px) {
        --handleSize: 80px;
    }
}

#rules {
    $size: calc(var(--handleSize) * 3.1);
    width: $size;
    height: $size;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    background-image: url(./assets/images/bg-pentagon.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75%;
    justify-content: center;
    align-items: center;

    &>.coin_wrap {
        position: absolute;
    }

    &.completed {
        flex-direction: row;
        width: 100%;
        gap: 48px;
        padding-top: 80px;

        &>.coin_wrap {
            position: relative;
        }

        @media (max-width:800px) {
            padding-top: 0;
            padding-bottom: 48px;

            .title {
                top: unset;
                bottom: -32px;
            }
        }
    }

    .coin_wrap.scissors {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .coin_wrap.spock {
        top: 0.9em;
        left: 0;
    }

    .coin_wrap.paper {
        top: 0.9em;
        right: 0;
    }

    .coin_wrap.rock {
        bottom: 0;
        right: 0.4em;
    }

    .coin_wrap.lizard {
        bottom: 0;
        left: 0.4em;
    }

    &.userPick {
        background-image: none;

        .coin_wrap {
            transform: scale(0);

            &.current {
                left: 50%;
                top: 50%;
                right: unset;
                bottom: unset;
                transform: scale(1) translate(-50%, -50%);

                &.end {
                    position: relative;
                    top: unset;
                    left: unset;
                    right: unset;
                    bottom: unset;
                    transform: scale(1);
                }
            }
        }
    }
}

@mixin overlay {
    position: absolute;
    display: flex;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 50%;
    z-index: -99;
}

.coin_wrap {
    position: relative;
    font-size: var(--handleSize);
    display: flex;
    transition: $transition;

    .title {
        position: absolute;
        font-size: 48px;
        top: -80px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: $transition;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &.current {
        --handleSize: 300px;
        pointer-events: none;

        .title {
            opacity: 1;
            text-transform: uppercase;
            width: max-content;
            text-align: center;
            transition-delay: 1s
        }

        @media (max-width: 1280px) {
            padding-top: 0;
            --handleSize: 200px;

            .title {
                font-size: 32px;
            }
        }

        @media (max-width: 800px) {
            --handleSize: 128px;

            .title {
                font-size: 14px;
            }
        }
    }

    &.empty {
        .coin {
            background: transparent;
            box-shadow: 0 0 0 transparent;

            .wrap {
                box-shadow: none;
                background: $background
            }
        }
    }

    .before {
        @include overlay;
        transform: scale(0.15);
        inset: -100%;
        transition: $transition;
        pointer-events: none;

        &:before {
            @include overlay;
            $size: 12.5%;
            content: "";
            top: $size;
            left: $size;
            right: $size;
            bottom: $size;
        }

        &:after {
            @include overlay;
            $size: 25%;
            content: "";
            top: $size;
            left: $size;
            right: $size;
            bottom: $size;
        }
    }

    &.active {
        .before {
            transform: scale(1);
            display: flex;
        }
    }

    .coin {
        background: var(--color);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        padding: 0.125em;
        overflow: hidden;
        color: #3C4262;
        transition: $transition;
        cursor: pointer;
        box-shadow: 0 0.05em 0 rgb(20, 21, 57, 0.12);
        $smallTRanstion: 0.1s ease all;

        &:hover {
            transform: scale(1.1);
            box-shadow: 0 0.3em 0.1em rgb(20, 21, 57, 0.12);

        }

        &:active {

            .solid.overlay,
            .wrap {
                transform: unset;

                svg {
                    color: var(--color)
                }
            }
        }

        &.spock {
            --color: #42B6CF;
        }

        &.scissors {
            --color: #EBA215;
        }

        &.paper {
            --color: #4D6AF4;
        }

        &.lizard {
            --color: #8958E5;
        }

        &.rock {
            --color: #DD3858;
        }

        .solid {
            position: absolute;
            inset: 0;
            background: inherit;

            &.overlay {
                transform: translateY(-0.05em);
                border-radius: 50%;
                transition: $smallTRanstion;
            }

            &.bkg {
                background: rgba(0, 0, 0, 0.16);
            }
        }

        .wrap {
            transform: translateY(-0.025em);
            background-color: #fff;
            border-radius: 50%;
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0.05em 0 rgba(60, 66, 98, 0.24) inset;
            transition: $smallTRanstion;

            svg {
                width: 0.4em;
                height: 0.4em;
                transition: $transition;
            }
        }
    }

}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    padding-bottom: 64px;
    gap: 24px;

    #rules_btn {
        padding: 12px 40px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.2em;
        border: 1px solid white;
        border-radius: 8px;
        position: absolute;
        bottom: 24px;
        right: 24px;
        cursor: pointer;
    }

    @media (max-width:540px) {
        #rules_btn {
            position: relative;
            order: 3;
            bottom: unset;
            right: unset;
        }
    }



    header {
        padding: 32px;
        border: 3px solid #ffffff60;
        border-radius: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .score {
            min-width: 180px;
            padding: 16px;
            border-radius: 12px;
            background: #fff;
            color: $score;
            text-align: center;
            font-weight: 500;
            text-transform: uppercase;
            @include user-select-none;

            .number {
                font-size: 48px;
                font-weight: bold;
                color: $text;
            }
        }
    }

    @media (max-width:540px) {
        header {
            padding: 16px;
            border-radius: 8px;

            img {
                max-width: 54px;
                height: auto;
            }

            .score {
                min-width: 96px;
                padding: 8px 16px;

                .number {
                    font-size: 24px;
                }
            }
        }
    }
}

#rules_details {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    pointer-events: none;
    &.active {
        pointer-events: all;

        .bkg {
            opacity: 1;
        }

        .contain {
            transform: unset;
        }
    }

    .bkg {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(12px);
        cursor: pointer;
        opacity: 0;
        transition: $transition;
    }

    .contain {
        padding: 48px 32px;
        position: relative;
        width: 100%;
        max-height: 100%;
        max-width: 400px;
        height: max-content;
        display: flex;
        flex-direction: column;
        background: #fff;
        border-radius: 8px;
        color: $text;
        gap: 24px;
        transform-origin: center;
        transform: translateY(100%) scale(0);
        transition: $transition;

        .head {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                margin: 0;
            }

            .close {
                padding: 12px;
                cursor: pointer;
                transition: $transition;

                &:hover {
                    filter: brightness(0.1);
                    transform: scale(1.15);
                }
            }
        }

        .preview {
            width: 100%;
            height: auto;
        }
    }
    
    @media (max-width: 540px) {
        padding:0;
        .contain{
            max-width: unset;
            max-height: unset;
            width: 100dvw;
            height: 100dvh;
            border-radius: 0;
            .preview{
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

.wins {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    transition: $transition;
    margin-left: 0;
    width: 140px;
    height: 104px;
    position: relative;

    &.start {
        width: 0;
        opacity: 0;
        margin-left: -24px;
    }

    @mixin complete {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: max-content;
    }

    @media (max-width:540px) {
        order: 3
    }

    h1 {
        margin: 0;
        top: 0;
        @include complete;
    }

    .rest_button {
        @include user-select-none;
        @include complete;
        bottom: 0;
        cursor: pointer;
        display: inline-flex;
        background: linear-gradient(#fff, #eee);
        text-transform: uppercase;
        font-size: 16px;
        border-radius: 4px;
        font-weight: 600;
        padding: 12px 32px;
        color: $text;
    }
}

.rules_wrap {
    display: flex;
    align-items: center;
    flex: 1;
}